body{
    background-color: black;
    display: grid;
    grid-template-columns: 240px 922px;
}
.image{
    width: 165px;
    height: 160px;
    margin-left: 10px;
    margin-top: 50px;
    border: 8px solid #353536;
    border-radius: 64px;
   
}
.name{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    color: beige;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #9C27B0;
}

a{
    text-decoration: none;
    line-height: 2;
    margin-left: 60px;
    font-size: x-large;
    color: antiquewhite;
}
a:hover{
    color: green;
}
.background{
    background-image: url("photo/laptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:1090px;
    height: 590px;
    margin-top:10px;
    margin-right:10px;
   
}
.welcome{
    font-size: 80px;
    margin-top: 100px;
    text-transform: capitalize;
} 
.job{
    font-size: 100px;

}
.welcome,.job{
    color:beige;
    text-shadow: 2px 2px 2px #e551519e;
}
.track{
    font-size: 70px;
    color:burlywood;
    text-shadow: 2px 2px 2px black;
 
}
.welcome,.job,.track{
    font-weight: 100;
    text-align: center;
}
.hire_me{
    font-size: 30px;
    text-transform: capitalize;
    margin-top:20px;
    margin-left: 440px;
    margin-right: 440px;
    border: 5px solid green;
    border-radius: 44px 110px;
}
